MODE=
LOG_LEVEL=

# postgres
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_USER=
TEST_DB_PASS=
TEST_DB_NAME=

# pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# redis
# REDIS_HOST=localhost
# REDIS_PORT=6379

# sentry
# SENTRY_DSN=

# email
# SMTP_HOST=
# SMTP_PORT=465
# SMTP_USER=
# SMTP_PASS=

# auth
SECRET_KEY=
ALGORITM=
